{%extends 'base.html'%}
{%block content%}
<h1 class="text-center">{{item_data.name}}:</h1>
<!-- Item Template:
- shows detailed description of the current 
- a bidding box
Arguments:
Item: Item Desctiption, Item Date
User: Phone number, Email
-->
<div class="container-fluid" ">
    {%with item = item_data%}
        <img src="{{url_for('static', filename='images/'+item.img_name)}}" alt="..." class="img-thumbnail" style="height: 500px; width: 500px; ">
        <p><br>{{item.desc}}</p>
        <p>Date: {{item.start_date}}</p>
    {%endwith%}
    {%with user = user_data%}
        <p>Phone number: 0{{user.phone}}</p>
        <p>Email: {{user.email}}</p>
    {%endwith%}

        <!-- Button trigger Auction box  -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Auction
    </button>
    
    <!-- Auction box
    Includes:
    Current bid
    Allows you to send a new bid
    Bid must be > current bid
    -->
    <form action="#" method="POST" id="auction_form"> </form>
   
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Item Auction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p>Current Bid: {{item_data.current_bid}}</p>

                <p>Make a new bid:</p>
                <input type="number" name="new_bid" placeholder="Place new bid" form="auction_form" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="auction_form">Place bid</button>
                </div>
            </div>
        </div>
    </div>


</div>




{%endblock%}

The item name.
ii. The full-size photo.
iii. The complete multi-line description.
iv. The date added.
v. The seller's phone number.
vi. The seller's email address.