{%extends 'base.html'%}
<!-- Sell Template:
Allows user to upload an item to be sold
Inputs:
    - Item name, Item Image and Item description
This is then sent through one form to be proccessed in routes.py -->
{%block title%}Sell Page{%endblock%}



{%block content%}

<form action="#" method="POST" id="sell_post" enctype="multipart/form-data"></form>

<h1 class="text-center">Sell Item:</h1>

<div class="container pt-3">

    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Item name</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter here:" aria-label="Username" aria-describedby="basic-addon1" name="item_name" form="sell_post">
            <p><br></p>
        </div>
    </div>
    
    <div class="row">
        <input type="file" class="custom-file-input" name="item_img"  accept="image/*" form="sell_post">
        <p><br></p>
    </div>

    <div class="row">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Item<br>Description</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" name="item_desc" form="sell_post"></textarea>
            </div>
    </div>
    <p><br></p>
    <input type="submit" value="submit" class="btn btn-dark" style="float: right;" form="sell_post">
</div>

{%endblock%}
