{%extends "base.html"%}
<!--User Template
This is the users profile page
Includes:
    - User details:
        - Name , Email , Phone number 
        - Sell new item Button
    - Users Items:
        - Name, Start date
        - More info Button
        - Sold Button
Arguments: 
user:
    - username, email, phone
item:
    - name, date , username
These are used to dipslay the current user in session and that users specific items
-->

{%block title%}User{%endblock%}

{%block content%}
<!-- User info Block: -->
<div style="text-align: center;">

    <h1>Welcome, {{user.username}}</h1>
    <a href="/sell" class="btn btn-dark btn-lg " role="button" aria-disabled="true">Sell new item</a>
    <p>
    <br>
    <br>
    <h2>Profile:</h2>
    <br>
    Email: {{user.email}}
    <br>
    Phone Number: 0{{user.phone}}
    </p>

</div>

<!-- Users item Block-->
<div class="container-fluid" style="border-radius:.25rem!important; border:1px solid #313131; box-shadow: darkgray !important;">
    <p>
        <h2>
            Your Current Items:
        </h2>
        <br><br>
    </p>
    

    <div class ="row">
        <!-- Loops over each item that was passed and puts it in a bootstrap card-->
        {%for item in values%}
            <div class = "col">
                <div class="card" style="width: 250px !important;">
                    <img class="card-img-top" src = "{{url_for('static', filename='images/'+item.img_name)}}" alt="No Image Uploaded" style="height: 250px !important;">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.start_date.date()}}<br>{{item.username}}</p>
                            <form action="#" method="POST">
                                <button type="submit" name="id" value="{{item.item_id}}" class="btn btn-primary">More info</button>
                                <button type="submit" name="sold" value="{{item.item_id}}" class="btn btn-primary">Sold</button>
                            </form>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>

{%endblock%}